.select-box-container {
}

.select-box,
.select-box__drop {
    background: #343434;
    border: 1px #545454 solid;
    border-radius: 0.5rem;
    padding: 5px 10px;
}

.select-box {
    cursor: pointer;
    user-select: none;
}
.select-box__drop {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.select-box__drop > * {
    width: 100%;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 0.3s;
}

.select-box__drop > *:hover {
    transform: translateX(4%);
}
